.nb{
  list-style-type: none;
  margin-top: 10px;
  font-size: 13px;
}

.nb-it{
  margin: 10px;
  float: right;
}

.nb-it a:link {
  color:black;
  text-decoration: none;
}

.nb-it a:visited {
  color:black;
}

.nb-it a:hover {
  color:black;
}

.nb-it a:active {
  color:black;
}

.center{
  display: flex;
  justify-content: center;
  align-items: center;
  padding-bottom: 20px;
}  

.rounded-search{
  display: flex;
  z-index: 3;
  height: 44px;
  background: #fff;
  border: 1px solid#dfe1e5;
  box-shadow: none;
  border-radius: 24px;
  margin: 0 auto;
  width: calc(632px+6px);
  width: 584px;
  max-width: 584px;
}

.btn-google{
    background-color: #f1f2f3;
    border: 1px solid #f1f2f3;
    border-radius: 4px;
    color: #3c4043;
    font-size: 14px;
    margin: 11px 4px;
    padding: 0 16px;
    line-height: 27px;
    height: 36px;
    min-width: 54px;
    text-align: center;
    cursor: pointer;
    user-select: none;
}

#content{
  padding-top: 200px;
}

input{
  padding-left: 15px;
  font-size: 18px;
}

/*advanced search*/

.h1-advance{
  color: #d93025;
  font-size: 20px;
  margin-top: 20px;
  margin-left: 50px;
}

.line{
  border-bottom: 1px solid #dfdddd;
}

.h2-advance{
  font-size: 16px;
  color: #333;
}

.row-input{
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-top: 20px;
}

.left{
  width: 200px;
}

.page{
  margin: 50px;
}

.right{
  width: 385px;
}

.p-ad{
  display: table-cell;
  font-size: 13px;
  vertical-align: middle;
}

.ad-btn{
  display: flex;
  justify-content: flex-end;
  width: 585px;
  margin-top: 30px;
}

.h-ad{
  display: table-cell;
  font-size: 11px;
  color: #555;
  padding-left: 20px;
}

body{
  font-family: arial,sans-serif;
}

.box{
  display: inline-block;
  min-width: 147px;
  min-height: 41px;
  vertical-align: middle;
  width: 465px;
}
